.watch-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.watch-left {
  display: grid;
  grid-template-rows: 1fr 5fr;
  margin-top: 5rem;
  position: fixed;
  width: 15vw;
  height: 100vh;
  padding: 0px 1rem;
  background-color: rgb(216, 216, 216);
}

.block-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.formSearch {
  display: flex;
}

.formSearch svg {
  position: absolute;
  margin-top: 10px;
  padding-left: 2px;
  font-size: 25px;
  color: grey;
}

input::placeholder {
  padding-left: 10px;
}

.watch-left input {
  text-indent: 12px;
}

.watch-center {
  position: absolute;
  top: 5rem;
  left: 25vw;
  width: 50vw;
  padding: 0 2rem;
  overflow: scroll;
}

.bottom-video {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.like-put {
  justify-self: end;
}

.watch-right {
  position: fixed;
  top: 40rem;
  left: 75vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  width: 100%;

  /* height: calc(100vh - 5.5rem); */

  overflow-y: scroll;
  z-index: 1;
}

.popular {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2rem;
}

.single-video {
  display: grid;
  grid-gap: 1rem;
  width: 100%;
  padding: 1rem;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.single-video video {
  justify-self: center;
}

.watch-left h2,
.watch-center h2 {
  padding: 1em;
}

.tooltip {
  position: relative;
  justify-self: end;
  padding: 5px;
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(197, 195, 195);
  color: rgb(57, 99, 69);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.video-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.icon-action {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.likes-put svg {
  justify-self: end;
}
